.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 70px;
}
.color-price{
    color: #FF3685;
}
.buy-now-button{
    background-image: linear-gradient(#FF3C89,#FF247A) ;
    color: white;
    padding:10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cat-1,.cat-2,.cat-3{
    padding:10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.cat-1{
    background-image: linear-gradient(#FFA132,#FFCF1A);
}
.cat-2{
    background-image:linear-gradient(#FF4B93,#FF1772);
}
.cat-3{
    background-image:linear-gradient(#3999F6,#0DECC9);
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}
.card{
 border: none;
 box-shadow:10px 5px 10px gray;
 border-radius: 10px;
 text-align: center;
}
.card-footer{
    background-color:white;
    border-top: none;
    text-align: center;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}